.socialmedia-container {
  padding: 12px 0;
  background: #f5f7fa;
  .socialmedia-content {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;

    ul li a {
      border-radius: 4px;
      background: #e6eaf0;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      background: #ced3d9;
    }

    svg {
      color: #333;
    }
  }
}

.container-header {
  .content-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;

    ul {
      display: flex;
      gap: 8px;

      li a {
        display: inline-block;
        padding: 12px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
        color: #474d59;
        font-weight: 500;
      }

      a:hover {
        background: #f3f3f3;
      }
    }
  }
}

.controller-menu {
  position: absolute;
  right: 20px;
  display: none;

  svg {
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 700px) {
  .container-header {
    .content-header {
      display: flex;
      justify-content: center;
      padding: 12px 0;
      align-items: center;
      flex-direction: column;
      font-size: 0.85rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .container-header {
    .controller-menu {
      display: block;
    }
    .content-header {
      position: relative;
      .menu-header.active {
        display: block;
        right: 0;
        opacity: 1;
        transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
      }

      .menu-header {
        display: none;
        position: absolute;
        top: 50px;
        right: 200px;
        border-radius: 10px 0 0 10px;
        opacity: 0;
        transition: opacity 0.3s ease-in-out, right 0.3s ease-in-out;
        background: #f5f7fa;

        ul {
          flex-direction: column;
          gap: 4px;

          li a {
            display: flex;
            align-items: center;
            justify-content: right;
            padding: 12px 24px;
          }
        }

        ul:first-child {
          border-radius: 10px 0 0 0;
        }

        ul:last-child {
          border-radius: 10px 0 0 0;
        }
      }
    }
  }
}
